[submodule "plugins/zsh/zsh-syntax-highlighting"]
	path = plugins/zsh/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "plugins/zsh/spaceship-prompt"]
	path = plugins/zsh/spaceship-prompt
	url = https://github.com/denysdovhan/spaceship-prompt.git
